[submodule "themes/redefine"]
	path = themes/redefine
	url = https://github.com/EvanNotFound/hexo-theme-redefine.git
[submodule ".deploy_git"]
	path = .deploy_git
	url = https://github.com/CocaK1ller/CocaK1ller.github.io.git
	branch = main
